<div class="product-cate content">
    <ProductCategoryBtn Color="#00ff44" ImgSrc="https://www.tncstore.vn/catalog/view/theme/default/image/gaming-workstation.png" url="list/Office Screens"/>
    <ProductCategoryBtn Color="#00fbff" ImgSrc="https://www.tncstore.vn/catalog/view/theme/default/image/gaming-laptop.png" url="list/Office Screens"/>
    <ProductCategoryBtn Color="#e600ff" ImgSrc="https://www.tncstore.vn/catalog/view/theme/default/image/gaming-gear.png" url="list/Office Screens"/>
    <ProductCategoryBtn Color="#ff0008" ImgSrc="https://www.tncstore.vn/catalog/view/theme/default/image/phu-kien.png" url="list/Office Screens"/>
    <ProductCategoryBtn Color="#f6ff00" ImgSrc="https://www.tncstore.vn/catalog/view/theme/default/image/linh-kien.png" url="list/Office Screens"/>
    <ProductCategoryBtn Color="#ff8000" ImgSrc="https://www.tncstore.vn/catalog/view/theme/default/image/man-hinh.png" url="list/Office Screens"/>
</div>