@page "/slider"
@layout MainPageLayout
<div class="container">
    <img src="https://source.unsplash.com/random/201x201" alt="">
    <img src="https://source.unsplash.com/random/201x201" alt="">
    <img src="https://source.unsplash.com/random/201x201" alt="">
</div>

    