.product-btn[b-p1ne8uxhuj]{
    height: 360px;
    width: 25%;
    background-color:rgb(218, 218, 218);
    border:1px solid lightgray;
    border-right: none;
    cursor:pointer;
}
.name[b-p1ne8uxhuj]{
    width:100%;
    height:38%;
    font-weight: bold;
    margin-bottom:1%;
    margin-left: 3%;
    font-size: 15px;
    overflow:hidden;  
}
.name:hover[b-p1ne8uxhuj]{
    cursor:pointer;
    text-decoration: underline;
}
.thumbnail[b-p1ne8uxhuj]{
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: center;
    background-color: white;
}
img[b-p1ne8uxhuj]{
    vertical-align:middle;
}
.description[b-p1ne8uxhuj]{
    height: 34%;
    width:100%;
    background-color:white;
    border-top:1px solid lightgray;
}
.product-price[b-p1ne8uxhuj]{
    padding-left: 3%;
}
.current-price[b-p1ne8uxhuj]{
    color:red;
    font-size: 20px;
    font-weight: bold;
}
.base-price[b-p1ne8uxhuj]{
    color:gray;
    text-decoration-line: line-through;
    font-size: 15px;
    margin-left: 5px;
}